*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(small-phone, phone) {
    font-size: 50%;
  }

  @include respond(tablet) {
    font-size: 50%;
  }

  @include respond(desktop) {
    font-size: 56.25%;
  }

  @include respond(large-desktop) {
    font-size: 75%;
  }

  @include respond(xlarge-desktop) {
    font-size: 80%;
  }

  @include respond(xxlarge-desktop) {
    font-size: 85%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey;
  padding: 3rem;
  box-sizing: border-box;

  @include respond(small-phone, phone, tablet) {
    padding: 0;
  }
}
