.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem;

  &__main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    animation: fadeInFromTop 0.7s ease-out;
  }

  &__sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    opacity: 0;
    animation: fadeInFromTop 0.7s 0.5s ease-out forwards;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  background-image: linear-gradient(to right, $color-main, $color-tertiary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    transform: skewY(1deg) skewX(10deg);
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.7rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}