// Colors
$color-white: #fff;
$color-grey: #777;
$color-black: #000;

$color-main: #12c2e9cf;
$color-tertiary: #c471edcd;
$color-secondary: #f64f5acd;


// Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;