// Colors
$color-white: #fff;
$color-grey: #777;
$color-solid-grey: #eee;
$color-black: #000;

$color-grey-white-1: #f7f7f7;

$color-main: #12c2e9cf;
$color-tertiary: #c471edcd;
$color-secondary: #f64f5acd;

$color-main-dark: #0da7c9cf;
$color-tertiary-dark: #a85acecd;
$color-secondary-dark: #d83f49cd;

// Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONTS
$default-font-size: 1.6rem;