/*
  Color Main: #12c2e9cf
  Color Tertiary: #c471edcd
  Color Secondary: #f64f5acd
*/

$color-white: #fff;
$color-grey: #777;
$color-black: #000;

$color-main: #12c2e9cf;
$color-tertiary: #c471edcd;
$color-secondary: #f64f5acd;