<section class="section-book">
  <div class="row">
    <div class="book">
      <div class="book__form">
        <div class="u-margin-bottom-4">
          <h2 class="heading-secondary">
            Start Booking Now
          </h2>
        </div>
        <form action="#" class="form">
          <div class="form__group">
            <input class="form__input" type="text" placeholder="Full Name" id="name" required />
            <label for="name" class="form__label">Full Name</label>
          </div>

          <div class="form__group">
            <input class="form__input" type="text" placeholder="Email Address" id="email"
              required />
            <label for="email" class="form__label">Email Address</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>