/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0, 0.19);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 5px rgba(0,0,0, 0.19);
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  animation: btnAfter 0.4s 2s forwards;
}

.btn:hover::after {
  animation: btnHoverAfter 0.4s forwards;
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-white::after {
  background-color: #fff;
}

.btn-animated {
  animation: fadeIn 0.7s 1.2s backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes btnAfter {
  from {
    transform: scaleX(1) scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0;
  }
}

@keyframes btnHoverAfter {
  from {
    transform: scaleX(1) scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0;
  }
}
